@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <div class="main">
        <div class="top-row px-4">
            <a href="https://blazor.net" target="_blank">Built using Blazor</a>
            <a href="https://scottabutler.github.io/home" target="_blank">Developer</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
