li {
    margin-bottom: 5px;
}
.banner {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 600px;
}
.error {
    border: 1px solid red;
    color: red;
    background-color: #ffd6d6;
}
.success {
    border: 1px solid #009933;
    color: #009933;
    background-color: #ccffcc;
}
.success .btn-link {
    vertical-align: baseline;
}
.result {
    display: inline-block;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
}
.square,
.square-lg {
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}
.square {
    width: 20px;
    height: 20px;
}
.square-lg {
    width: 40px;
    height: 40px;
    line-height: 40px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    color: white;
    cursor: pointer;
}
.red {
    background-color: #cc0000;
}
.orange {
    background-color: #ff6600;
}
.yellow {
    background-color: #ffc300;
    color: black;
}
.green {
    background-color: #009933;
}
.blue {
    background-color: #0066cc;
}
.pink {
    background-color: #cc3399;
}
.space {
    border: 1px solid #aaa;
}
.black {
    background-color: #000;
}

body {
    color: #444;
}
.container {
    background-color: #fff;
}
.actions .btn {
    width: 134px;
}
